<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{% block title %}{{site.title}}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ link_assets('favicon.png')}}" />
    <link id='stylesheet' rel='stylesheet' href='{{link_assets(site.stylesheet or 'light.standalone.css')}}' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
</head>

<body>
    {% include "header.html" %}

    {% block body %}
    {% endblock %}

    {% include "footer.html" %}
</body>

</html>