<footer>
    made with 💙 by 
    {% if site.author.link %}
        <a href="{{site.author.link}}">{{site.author.name}}</a>
    {% else %}
        {{site.author.name}}
    {% endif %}
    <br><a href="https://icons8.com/icons/set/pineapple">Pineapple icon</a> icon by <a  href="https://icons8.com">Icons8</a>
</footer>