<h1>{{site.title}}</h1>

{% set posts = list_posts('.') %}
{% if posts|length > 1 %}
<nav>
    <p>
    {% for post in posts %}
        <a href="{{link_post(post.url)}}">{{post.menu_title or post.title}}</a>
        {% if not loop.last %}·{% endif %}
    {% endfor %}
    </p>
</nav>
{% endif %}